.artist {
	text-decoration: none;
	color: #000;
}

.artist h3 {
	margin-bottom: 5px;
	margin-top: 10px;
}

.artist .cover {
	width: 100%;
	height: 200px;
	background-position: center;
	background-size: cover;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
