html,
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Roboto, sans-serif;
	font-size: 14px;

}

#page {
	display: grid;
	grid-template-columns: 200px auto;
}

button {
	outline: none;
}

/* Media */

@media (max-width: 400px) {
	html,
	body {
		height: 100vh;
		overflow-y: hidden;
	}
	#page {
		display: block;
		position: relative;
		height: 100vh;
	}
}
