html,
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	/* overflow:hidden; */
}

#root {
	display: grid;
	grid-template-columns: 200px auto;
}

.mainPage{
	display:grid;
	grid-template-rows: auto 80px;
}

.player{
	-webkit-box-shadow: 1px 8px 37px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 1px 8px 37px 0px rgba(0,0,0,0.23);
	box-shadow: 1px 8px 37px 0px rgba(0,0,0,0.23);
	border-top:1px solid  rgba(0,0,0,0.10);
	display:grid;
	grid-template-columns:0.35fr 0.65fr;
	align-items:center;
	justify-items:center
}
.progress{
	width:90%;
	text-align:center;
	justify-self:center;
}

.far{
	font-size:1.7rem;
	margin-bottom:1%;
	margin-left:2%
}
.far:hover{
	cursor:pointer;
}
.fas{
	font-size:1.3rem;
	margin-left:2%;
	cursor:pointer;
}


.fas.fa-random.selected{
	color:#4289f5
}
#stopBtn{
	display:none;
}
#playBtn{
	display:none;
}
#forward{
	display:none;
}
#backward{
	display:none;
}

.progressBar{
	display:inline-block;
	width:30vw;
	height:10px;
	background-color:lightgray;
	border-radius:100px
}

#current{
	height:100%;
	width:0;
	background-color:#4289f5;
	border-radius:100px;
}

#timer{
	margin-right:2%
}

#duration{
	margin-left:2%
}

button {
	outline: none;
}

.genre{
	color:black;
	text-decoration: none;
}
tr.playing .genre{
	color:white;
}

/* Media */

@media (max-width: 400px) {
	html,
	body {
		height: 100vh;
		overflow-y: hidden;
	}
	#root {
		display: block;
		position: relative;
		height: 100vh;
	}
}
