#paywall {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	display: none;
}

#paywall.open {
	display: block;
}

#card {
	width: 400px;
	background: #fff;
	padding: 40px;
	margin: 50px auto;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: relative;
}

#card h2 {
	margin: 0 0 20px 0;
}

#card .submit {
	background: #4289f5;
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
}

#close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #d7d5d5;
	cursor: pointer;
}

#card .success,
#card .error {
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	margin-top: 20px;
}

#card .success {
	background: #09be6c;
}

#card .error {
	background: #c71d0c;
}

@media () {
	#card {
		max-width: ;
		margin-top: ;
		box-sizing: border-box;
	}
}
